/* Font definitions for Arimo and Roboto, which are used in the content area */
@font-face {
  font-family: 'Arimo';
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/arimo-regular-webfont.svg#arimoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/arimo-bold-webfont.svg#arimobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/arimo-bolditalic-webfont.svg#arimobold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Arimo';
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/arimo-italic-webfont.svg#arimoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'roboto_condensed';
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensed';
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.eot");
  src: url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.woff") format("woff"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("https://canvasfiles.hcpss.me/fonts/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.eot');
  src: url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.woff') format('woff'), url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.ttf') format('truetype'), url('https://canvasfiles.hcpss.me/fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-code:before {
  content: "\f121";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info:before {
  content: "\f129";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-check:before {
  content: "\f00c";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
/* Extra Nav */
#extra-nav {
	text-align: right;
	list-style-type: none;
	display: block;
	margin: 0;
	position: absolute;
	right: 150px;
	bottom: -10px;
}
#extra-nav li {
	display: inline-block;
	margin-left: 15px;
	float: right;
}
#extra-nav li a {
  font-size: 12px;
  width: 55px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  color: #000;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Arimo', sans-serif;
  padding-top: 40px;
}
#extra-nav li .ui-icon-extlink { display: none; }
#link-synergy {
	background-image: url("https://canvasfiles.hcpss.me/images/hcpss-synergy.jpg");
	background-size: 47px 40px;
}
#link-orientation  {
  background-image: url("https://canvasfiles.hcpss.me/images/hcpss-orientation.png");
  background-size: 39px 40px;
}
#link-parent-dashboard {
	width: auto;
	background-image: url("https://canvasfiles.hcpss.me/images/hcpss-parent.png");
	background-size: 40px 40px;
}

/* Styles for the general WYSIWYG content area (fonts, colors, etc) */
#content-wrapper .user_content {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  position: relative;
  /* Course Launch/Home Page Styles */
  /* Launch Page Buttons */
  /* Overview/Tables */
  /* Footer Styles */
  /* Center any iFrames (used for youtube and other embedded content) */
  /* Styles for photo galleries */
}
#wiki_page_show > .user_content {
	  min-height: 500px;
}
#content-wrapper .user_content#quiz-instructions, #content-wrapper .quiz_sortable .user_content {
	min-height: 0;
}
#content-wrapper .user_content h1.page-title {
  display: none;
}
#content-wrapper .user_content h1 {
  font-family: 'roboto_condensed', sans-serif;
}
#content-wrapper .user_content h2 {
  font-family: 'roboto_condensedlight', sans-serif;
}
#content-wrapper .user_content h3 {
  font-family: 'roboto_condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #504e4f;
  line-height: 44px;
  border-bottom: 3px solid #0f5091;
  margin: 0 0 15px 0;
}
#content-wrapper .user_content h4 {
  font-family: 'roboto_condensed', serif;
  font-size: 22px;
}
#content-wrapper .user_content a {
  color: #0f5091;
  text-decoration: underline;
}
#content-wrapper .user_content p, #content-wrapper .user_content table {
  margin: 12px 10px;
}
#content-wrapper .user_content ul, #content-wrapper .user_content ol {
  margin: 0 10px 0 30px;
}
#content-wrapper .user_content hr.green {
  background-color: #1ea64d;
  height: 2px;
  border: none;
}
#content-wrapper .user_content img {
  max-width: 100% !important;
  height: auto;
  margin-right: 10px;
}
#content-wrapper .user_content h1, #content-wrapper .user_content h1 span, #content-wrapper .user_content h5, #content-wrapper .user_content h5 span {
  font-size: 31px !important;
  font-family: 'roboto_condensed', serif;
  line-height: 31px;
  padding: 5px 10px;
  color: #fff;
  background-color: #0f5091;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}
#content-wrapper .user_content .header-gradient {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #39c5ac),
		color-stop(1, #1EA64E)
	);
}
#content-wrapper .user_content .header-gradient h5, #content-wrapper .user_content .header-gradient h6 {
	background-color: transparent;
}
@media (max-width: 767px) {
  #content-wrapper .user_content h1, #content-wrapper .user_content h1 span {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 560px) {
  #content-wrapper .user_content h1, #content-wrapper .user_content h1 span {
    font-size: 18px;
    line-height: 18px;
  }
}
#content-wrapper .user_content h2, #content-wrapper .user_content h2 span, #content-wrapper .user_content h6, #content-wrapper .user_content h6 span {
  font-size: 31px !important;
  font-family: 'roboto_condensedlight', sans-serif;
  line-height: 31px;
  margin: 0 0 10px 0;
  color: #fff;
  background-color: #0f5091;
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: normal;
}
#content-wrapper .user_content h5, #content-wrapper .user_content h5 span, #content-wrapper .user_content h6, #content-wrapper .user_content h6 span {
	background-color: #1ea64d;
}
@media (max-width: 767px) {
  #content-wrapper .user_content h2, #content-wrapper .user_content h2 span {
    top: 23px;
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 560px) {
  #content-wrapper .user_content h2, #content-wrapper .user_content h2 span {
    top: 21px;
    font-size: 18px;
    line-height: 18px;
  }
}
#content-wrapper .user_content blockquote {
  padding: 25px 30px;
  background-color: #f2f3f3;
  margin: 20px 0;
}
#content-wrapper .user_content blockquote p {
  font-style: italic;
  line-height: 22px;
}
#content-wrapper .user_content blockquote p:first-child {
  margin-top: 0;
}
#content-wrapper .user_content blockquote p:last-child {
  margin-bottom: 0;
}
#content-wrapper .user_content p.icon {
  position: relative;
  padding-left: 60px;
  min-height: 50px;
  padding-top: 10px;
}
#content-wrapper .user_content p.icon img {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
}
#content-wrapper .user_content p.icon a img {
  position: static;
  left: auto;
  top: auto;
  margin-top: 0px;
}
#content-wrapper .user_content div.icon {
  position: relative;
  padding-left: 70px;
  min-height: 50px;
}
#content-wrapper .user_content div.icon img {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -25px;
}
#content-wrapper .user_content div.icon.top img {
  top: 0;
  margin: 0;
}
#content-wrapper .user_content .center {
	text-align: center;
}
#content-wrapper .user_content .picture-left {
  float: left;
  margin: 0 15px 15px 0;
}
#content-wrapper .user_content .picture-right {
  float: right;
  margin: 0 0 15px 15px;
}
#content-wrapper .user_content .picture-left + ul, #content-wrapper .user_content .picture-left + ol {
  float: left;
  margin: 0 10px 10px 10px;
  padding: 0;
}
#content-wrapper .user_content .picture-left + div {
  float: left;
}
#content-wrapper .user_content .clear {
  clear: both;
}
#content-wrapper .user_content .course-home {
  overflow: auto;
  margin: 12px 10px;
}
#content-wrapper .user_content .course-home img {
  float: right;
}
#content-wrapper .user_content .course-home h3 {
  color: #000;
  border: none;
  line-height: 31px;
}
#content-wrapper .user_content .course-home p, #content-wrapper .user_content .course-home h3 {
  margin: 10px 0;
}
#content-wrapper .user_content ul.launch-page {
  margin: 0 10px;
  list-style-type: none;
  overflow: auto;
}
#content-wrapper .user_content ul.launch-page li {
  width: 29%;
  margin: 10px 2%;
  float: left;
  text-align: center;
}
#content-wrapper .user_content ul.launch-page li:nth-child(3n+1) {
  clear: both;
}
@media (max-width: 767px) {
  #content-wrapper .user_content ul.launch-page li {
    width: 44%;
    margin: 10px 2%;
  }
  #content-wrapper .user_content ul.launch-page li:nth-child(3n+1) {
    clear: none;
  }
  #content-wrapper .user_content ul.launch-page li:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 560px) {
  #content-wrapper .user_content ul.launch-page li {
    width: 100%;
    margin: 10px 0px;
  }
}
#content-wrapper .user_content ul.launch-page li a {
  font-weight: bold;
}
#content-wrapper .user_content ul.launch-page li img {
  max-width: 100% !important;
  height: auto;
}
#content-wrapper .user_content ul.launch-page.cols5 li {
  width: 16%;
}
#content-wrapper .user_content ul.launch-page.cols5 li:nth-child(3n+1) {
  clear: none;
}
#content-wrapper .user_content ul.launch-page.cols5 li:nth-child(5n+1) {
  clear: both;
}
@media (max-width: 767px) {
  #content-wrapper .user_content ul.launch-page.cols5 li:nth-child(5n+1) {
    clear: none;
  }
}
@media (max-width: 560px) {
  #content-wrapper .user_content ul.launch-page.cols5 li {
    width: 100%;
    margin: 10px 0px;
  }
}
#content-wrapper .user_content .launch-page img {
  margin: 10px auto;
  display: block;
}
#content-wrapper .user_content ul.launch-page-buttons {
  margin: 0 auto;
  list-style-type: none;
  overflow: auto;
  max-width: 750px;
  padding: 0;
  text-align: center;
}
#content-wrapper .user_content ul.launch-page-buttons li {
  width: 20%;
  margin: 10px 2%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  vertical-align: top;
  text-align: center;
  line-height: 14px;
}
#content-wrapper .user_content ul.launch-page-buttons li a {
  display: block;
  background-color: #0f5091;
  color: #fff;
  text-decoration: none;
  padding: 15px 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
  top: 5px;
  font-family: 'roboto_condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
  height: 40px;
}
#content-wrapper .user_content ul.launch-page-buttons li a:hover {
  background-color: #1ea64d;
}
#content-wrapper .user_content ul.launch-page-buttons li:nth-child(4n+1) {
  clear: both;
}
#content-wrapper .user_content ul.launch-page-buttons li a + br {
	display: none;
}
@media (max-width: 767px) {
  #content-wrapper .user_content ul.launch-page-buttons li {
    width: 44%;
    margin: 10px 2%;
  }
  #content-wrapper .user_content ul.launch-page-buttons li a {
    height: auto;
  }
  #content-wrapper .user_content ul.launch-page-buttons li:nth-child(4n+1) {
    clear: none;
  }
  #content-wrapper .user_content ul.launch-page-buttons li:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 560px) {
  #content-wrapper .user_content ul.launch-page-buttons li {
    width: 100%;
    margin: 10px 0px;
  }
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-wide li {
  width: 45%;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-wide.left {
  margin: 0;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-wide.left li:first-child {
	margin-left: 0;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-right {
  float: right;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-right li {
  width: 95%;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-left {
  float: left;
}
#content-wrapper .user_content ul.launch-page-buttons.buttons-left li {
  width: 95%;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons {
  overflow: visible;
  clear: both;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons li {
  position: relative;
  box-sizing: border-box;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons li a {
  padding-left: 73px;
  font-size: 16px;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons .meta {
  position: absolute;
  text-align: center;
  top: 13px;
  bottom: 4px;
  left: 8px;
  border-right: 1px solid #fff;
  color: #fff;
  padding-right: 8px;
  margin-top: 3px;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons .meta .title {
  font-size: 8px;
}
#content-wrapper .user_content ul.launch-page-buttons.numbered-buttons .meta .number {
  font-size: 41px;
  line-height: 40px;
}
#content-wrapper .user_content ul.launch-page-buttons.green li a {
  background-color: #1ea64d;
}
#content-wrapper .user_content ul.launch-page-buttons.green li a:hover {
  background-color: #0f5091;
}
#content-wrapper .user_content ul.launch-page-buttons.center li {
  float: center;
}
#content-wrapper .user_content table {
  border-collapse: collapse;
  margin: 5px auto;
  /*border-bottom: 5px solid $green; */
  /*border-bottom: 5px solid $darkgrey;  */
}
#content-wrapper .user_content table td, #content-wrapper .user_content table th {
  border: 2px solid #FFF;
}
#content-wrapper .user_content table thead th {
  background-color: #1ea64d;
  /* background-color: $darkgrey; */
  color: #fff;
  padding: 5px 10px;
  line-height: 26px;
}
#content-wrapper .user_content table tbody th {
  text-align: left;
  font-weight: bold;
}
#content-wrapper .user_content table tbody .time {
  text-align: center;
}
#content-wrapper .user_content table tbody tr:nth-child(even) td {
  background-color: #f2f3f3;
}
#content-wrapper .user_content table tbody tr.highlighted td {
  background-color: #fff2cc;
}
#content-wrapper .user_content table tbody td {
  vertical-align: top;
  padding: 10px;
}
#content-wrapper .user_content table tbody td ul {
  margin: 0 0 0 20px;
  padding: 0;
}
#content-wrapper .user_content table.no-shading tbody tr:nth-child(even) td {
  background-color: #fff;
}
#content-wrapper .user_content table.no-shading tbody tr.highlighted td {
  background-color: #fff;
}
#content-wrapper .user_content table.left-align {
  margin: 0 0;
}
#content-wrapper .user_content table.add-border {
	border: 2px solid #aaa;
	border-collapse: separate;
}
#content-wrapper .user_content table.add-border th {
	border-width: 1px;
	border-top: none;
}
#content-wrapper .user_content table.add-border tr th:first-child {
	border-left: none;
}
#content-wrapper .user_content table.add-border tr th:last-child {
	border-right: none;
}
#content-wrapper .user_content table.full-width {
  margin: 5px 0;
  width: 100%;
}
#content-wrapper .user_content table.eqwidth16 td {
  width: 16.6%;
}
#content-wrapper .user_content table.eqwidth20 td {
  width: 20%;
}
#content-wrapper .user_content table.eqwidth25 td {
  width: 25%;
}
#content-wrapper .user_content table.eqwidth33 td {
  width: 33%;
}
#content-wrapper .user_content table.eqwidth50 td {
  width: 50%;
}
#content-wrapper .user_content table.no-border { border: 0; }
#content-wrapper .user_content table.no-border td { border: none; }
#content-wrapper .user_content table.no-padding td { padding: 0; }
#content-wrapper .user_content table.no-padding td td { padding: 10px; }
#content-wrapper .user_content .footer {
  border-top: 5px solid #fff;
  min-height: 30px;
  position: relative;
  background-color: #cecece;
  color: #000;
  padding: 10px 10px 10px 110px;
  font-size: 13px;
  clear: both;
  margin: 15px 0 0 0;
}
#content-wrapper .user_content .footer img {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 10px;
}
#content-wrapper .user_content iframe {
  margin: 0 auto;
  display: block;
}
#content-wrapper .user_content .carousel-stage {
  width: 800px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
}
#content-wrapper .user_content .stage ul {
  width: 20000em;
  height: 100%;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
#content-wrapper .user_content .stage ul li {
  width: 800px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}
#content-wrapper .user_content .stage ul .stage-img {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}
#content-wrapper .user_content .stage ul .stage-img .stage-img-center {
	display: table;
	width: 100%;
	height: 100%;
}
#content-wrapper .user_content .stage ul .stage-img .stage-img-center2 {
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
#content-wrapper .user_content .stage ul img {
  max-width: 800px;
  max-height: 420px;
}
#content-wrapper .user_content .stage ul .caption {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  text-align: center;
}
#content-wrapper .user_content .thumbnails {
  width: 740px;
  height: 102px;
  margin: 0 auto;
  position: relative;
}
#content-wrapper .user_content .thumbnails a {
  line-height: 40px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  text-decoration: none;
  color: #1ea64d;
  font-size: 30px;
}
#content-wrapper .user_content .thumbnails a.inactive {
  visibility: hidden;
}
#content-wrapper .user_content .thumbnails .prev {
  left: -20px;
}
#content-wrapper .user_content .thumbnails .next {
  right: -20px;
}
#content-wrapper .user_content .carousel-navigation {
  width: 740px;
  height: 102px;
  overflow: hidden;
}
#content-wrapper .user_content .thumbnails {
  overflow: visible;
}
#content-wrapper .user_content .thumbnails .gallery {
  list-style-type: none;
  position: relative;
  width: 20000em;
  height: 100px;
  margin: 0;
  padding: 0;
}
#content-wrapper .user_content .thumbnails .gallery li {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  padding: 0;
  border: 1px solid #555;
  float: left;
  display: block;
}
#content-wrapper .user_content .thumbnails .gallery .thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
}
#content-wrapper .user_content .thumbnails .gallery .thumbnail img {
  display: none;
}

/* Responsive Gallery */
@media (max-width: 1050px) {
	#content-wrapper .user_content .carousel-stage {
	  width: 500px;
	}
	#content-wrapper .user_content .stage ul li {
	  width: 500px;
	}
	#content-wrapper .user_content .stage ul .stage-img {
	  width: 100%;
	  height: 280px;
	}
	#content-wrapper .user_content .stage ul img {
	  max-width: 500px;
	  max-height: 300px;
	}
	#content-wrapper .user_content .thumbnails {
	  width: 480px;
	  height: 102px;
	}
	#content-wrapper .user_content .carousel-navigation {
	  width: 480px;
	  height: 102px;
	}
}


/* Canvas Connection Stuff */
#content-wrapper .user_content h1.canvas-connection-h1 { margin-bottom: 8px; }
.canvas-connection-links-support { float: right; width: 180px; }
.canvas-connection-latest-news { margin-top: 8px; float: left; width: calc(100% - 180px);}
.canvas-connection-latest-news2 { width: calc(100% - 250px); }
.canvas-connection-resources1 { float: left; width: 225px; }
.canvas-connection-resources2 { border-left: 2px solid #fff; border-right: 2px solid #fff; }
.canvas-connection-resources2, .canvas-connection-resources3 { width: 225px; float: left; }
.canvas-connection-resources3 { width: calc(100% - 550px); }
.canvas-connection-resources { width: calc(100% - 180px); float: left; clear: both; overflow: auto;  }
.canvas-connection-blue-bottom { width: 180px; background-color: #00446b; position: absolute; bottom: 40px; right: 25px; height: auto; top: 70px; z-index: 0; }
.canvas-connection-blue-bottom p { display: none; }
.canvas-connection-links-support { position: relative; z-index: 1; }
.canvas-connection-resources3 ul { margin: 0; padding: 0; }
.canvas-connection-resources1, .canvas-connection-resources2, .canvas-connection-resources3, .canvas-connection-latest-news2 { font-size: 10pt; }


/* Faqs */
#content-wrapper .user_content .faqs h4 { padding-left: 10px; font-size: 15px;  cursor: pointer; font-family: 'Arimo', sans-serif; color: #0f5091; font-weight: bold;}
.faqs .arrow {
	display: inline-block;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
.faqs .arrow:before {
   content: "\f105\0020";
}
.faqs .arrow.open:before {
    content: "\f107\0020";
}
.faqs .new {
	font-size: 9px;
	background-color: #1ea64d;
	color: #fff;
	display: inline-block;
	margin: 0 5px;
	padding: 2px 3px;
	border-radius: 2px;
	vertical-align: top;
}

@media (max-width: 1050px) {
	.canvas-connection-resources1, .canvas-connection-resources2, .canvas-connection-resources3 {
		width: 33%;
	}
}

/* 767 -> 992 */
@media (max-width: 767px) {
	.canvas-connection-links-support {
		float: none;
		width: 100%;
		clear: both;
	}
	.canvas-connection-latest-news {
		width: 100%;
	}
	.canvas-connection-resources {
		width: 100%;
	}
	.canvas-connection-blue-bottom  { display: none; }
}

/* Lightbox */
.lightbox-hidden { display: none; }
.lightbox-hidden img { display: none; }
.lightbox-hidden img:first-child { display: block; }


/* Dropdown Menu for Canvas Connection */
iframe.canvas-connection-footer { width: 100%; height: 55px; border: 0; }
@media (max-width: 1000px) {
	iframe.canvas-connection-footer { height: auto; min-height: 95px; }
}
#content-wrapper .user_content p.canvas-connection-footer-container { margin: 0; }
p.canvas-connection-footer { background-color: #3e4156; color: #fff; padding: 10px 10px 10px 0; border: 0; }
.canvas-connection-footer span, .canvas-connection-footer strong, .canvas-connection-footer a { color: #fff; text-decoration: none; }
.canvas-connection-footer img { margin-left: 10px; }
#content-wrapper .user_content iframe.hcpss-dropdown { display: none; }
nav.hcpss-dropdown, div.hcpss-dropdown { background-color: #3E4156; padding-left: 5px;  }
#content-wrapper .user_content nav.hcpss-dropdown ul,
#content-wrapper .user_content div.hcpss-dropdown ul{ list-style-type: none; margin: 0; padding: 0; }
#content-wrapper .user_content nav.hcpss-dropdown li,
#content-wrapper .user_content div.hcpss-dropdown li{
	margin: 0; padding: 0 15px; line-height: 40px;
	text-align: center; color: #fff;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	position: relative;
	display: inline-block;
	border-right: 1px solid #313344;
}
#content-wrapper .user_content .hcpss-dropdown.small li {
  padding: 0 10px;
  font-size: 13px;
}
#content-wrapper .user_content .hcpss-dropdown.small li li {
  padding: 0;
}
#content-wrapper .user_content .hcpss-dropdown li a { padding: 0; color: #fff; text-decoration: none; }
.hcpss-dropdown li a:hover, .hcpss-dropdown li:hover, .hcpss-dropdown li.active { background-color: #a3b86c;}

#content-wrapper .user_content .hcpss-dropdown ul ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 200px;
	position: absolute;
	top: 40px;
	left: 0px;
	background: #ffffff;
}

#content-wrapper .user_content .hcpss-dropdown ul ul ul {
	left: 200px;
	top: 0;
}

/* display second level menu on hover */
#content-wrapper .user_content .hcpss-dropdown ul li:hover > ul{ display: block;}

#content-wrapper .user_content .hcpss-dropdown ul ul li {
	background:none;
	margin:0;
	padding:0;
	text-align: left;
	line-height: 20px;
	display: block;
	width: 100%;
	text-transform: none;
	border-right: none;
}

#content-wrapper .user_content .hcpss-dropdown ul ul li a {
	background-color: #f2f2f2;
	border-left:3px solid #f2f2f2;
	color: #797979;
	padding: 6px 10px;
	display: block ;

}

#content-wrapper .user_content .hcpss-dropdown ul ul li a:hover,
#content-wrapper .user_content .hcpss-dropdown .menu ul li:hover > a {
	background:#f0f0f0;
	border-left:3px solid #a3b86c;
	color:#797979;
}
@media (max-width: 560px) {
	.hcpss-dropdown { padding: 0; }
	.hcpss-dropdown li { width: 100%; box-sizing: border-box; text-align: center; border-bottom: 1px solid #313344; margin:0;   }
	.hcpss-dropdown ul li:hover ul{ display: none;}
	.hcpss-dropdown ul ul ul li a { padding: 6px 30px; }
}

/* Accordion styling */
#content-wrapper .user_content .ui-accordion { height: auto !important; }
#content-wrapper .user_content .ui-accordion .ui-accordion-header { border-radius: 0; }
#content-wrapper .user_content .ui-accordion .ui-accordion-header.ui-state-default.ui-state-active { background-color: #3E4156; }
#content-wrapper .user_content h3.ui-accordion-header.ui-state-active { color: #fff; }
#content-wrapper .user_content h3.ui-accordion-header { color: #666;line-height: 20px; font-size: 23px; margin-bottom: 0; margin-top: 8px; border-bottom: 1px solid #d6d6d6;}
#content-wrapper .user_content .ui-accordion-content { margin-bottom: 10px; height: auto !important; }


/* Tiles */
#content-wrapper .user_content ul.tiles {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
	overflow: auto;
}
#content-wrapper .user_content ul.tiles li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	width: 120px;
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	display: block;
	font-size: 14px;
	float: left;
 }
#content-wrapper .user_content ul.tiles li img {
	width: 100px;
	height: 100px;
	margin: 0;
}

#content-wrapper .user_content ul.tiles li a:last-child img { width: auto; height: auto; }

/* Grades button in nav */
#grades_menu_item  .menu-item__text { margin-top: -6px; }
#grades_menu_item svg { width:43px; height: 43px; fill: #fff;}

/* Hide Cross-List button */
#right-side .button-sidebar-wide.crosslist_link { display: none; }

/* Grading Period Tab - hide */
#react_grading_tabs .ui-tabs-nav, #grading-periods-tab { display: none !important; }
#grading-standards-tab { display: block !important; }

/* Hide Reset Course Content button */
#right-side .button-sidebar-wide.reset_course_content_button { display: none; }

/* Fake tabs active class */
#content-wrapper .user_content .fake-tabs ul { margin-left: 0; }
.fake-tabs.ui-tabs .ui-tabs-nav li.active { background-color: #C7CDD1; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(images/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(images/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:url(images/blank.gif);-webkit-tap-highlight-color:transparent;z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(images/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(images/fancybox_sprite@2x.png);background-size:44px 152px}#fancybox-loading div{background-image:url(images/fancybox_loading@2x.gif);background-size:24px 24px}}

/* Figure caption table bottom */
figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}

/* Privacy Solution - Removed Observer Activity */
tr.ObserverEnrollment :nth-of-type(8) div { display: none; }
